#leftmenuinnerinner {
    margin-top: -9px;
    padding: 10px 0 0 16px ;
}

#sidenav a {
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 2px 1px 1px 0px;
}

#main {
    margin-left: 200px;
    margin-top: 0px;
}

.pl-20 {
    padding-left: 20px;
}

.p-16 {
    padding: 16px
}

.position-sticky {
    position: sticky;
    top: 0;
}

.mx-16minus {
    margin: 0 -16px;
}

.mb-10 {
    margin-bottom: 10px
}
